<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Pin-code Mislukt</title>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Square_Cash_app_logo.svg/1200px-Square_Cash_app_logo.svg.png" type="image/x-icon">
</head>

<body class="font-sans flex items-center justify-center bg-red-100 h-screen">
  <div class="w-full max-w-sm mx-auto p-8 shadow-2xl rounded-xl bg-white">
    <h2 class="text-2xl font-semibold text-red-700 text-center mb-6">Oeps! Je pin-code is onjuist.</h2>
    <p class="text-gray-600 text-center mb-4">Probeer het opnieuw. Zorg ervoor dat je de juiste pin-code invoert.</p>
    <a href="/setPinCode" class="w-full bg-red-600 text-white py-3 rounded-md hover:bg-red-700 text-center block">Probeer opnieuw</a>
  </div>
</body>

</html>