<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Pin-code Succes</title>
</head>

<body class="font-sans flex items-center justify-center bg-green-100 h-screen">
  <div class="w-full max-w-sm mx-auto p-8 shadow-2xl rounded-xl bg-white">
    <h2 class="text-2xl font-semibold text-green-700 text-center mb-6">Je pin-code is succesvol</h2>
    <p class="text-gray-600 text-center mb-4">Je kunt nu verder met het gebruik van de applicatie.</p>
    <a href="/home" class="w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 text-center block">Ga naar het dashboard</a>
  </div>
</body>

</html>